In [1]:
import ipywidgets as widgets
from IPython.display import display
import numpy as np
import pandas as pd
import functions as f
import functools
df = pd.read_csv("dane/insurance_final.csv")

# sex_w, age_w, height_w, weight_w, smoker_w, children_w, region_w = f.widgets_pro()

# output = f.widgets.Output()
# display(output)
# def click_button(button):    
#     sex, age, bmi, smoker, children, region = f.values(sex_w, age_w, height_w, weight_w, smoker_w, children_w, region_w)
#     df_created = f.create_df(sex, age, bmi, smoker, children, region)
#     stawka = f.train_model(df, df_created)
#     with output:
#         clear_output()
#         print("Twoja stawka ubezpieczenia:")
#         print(stawka)

# button = widgets.Button(description='Oblicz')
# button.on_click(click_button)
# display(button)

In [2]:
df

,Unnamed: 0,index,age,bmi,children,charges,sex_male,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,0,0,19,27.900,0,16884.92400,0,1,0,0,0,1
1,1,1,18,33.770,1,1725.55230,1,0,0,0,1,0
2,2,2,28,33.000,3,4449.46200,1,0,0,0,1,0
3,3,3,33,22.705,0,21984.47061,1,0,0,1,0,0
4,4,4,32,28.880,0,3866.85520,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1323,1333,1333,50,30.970,3,10600.54830,1,0,0,1,0,0
1324,1334,1334,18,31.920,0,2205.98080,0,0,1,0,0,0
1325,1335,1335,18,36.850,0,1629.83350,0,0,0,0,1,0
1326,1336,1336,21,25.800,0,2007.94500,0,0,0,0,0,1
1327,1337,1337,61,29.070,0,29141.36030,0,1,0,1,0,0

In [3]:

from sklearn.metrics import make_scorer

def RMSE(true, pred):
    return np.sqrt(np.mean((true-pred)**2))

rmse_scorer = make_scorer(RMSE, greater_is_better = False)

# np.abs(rmse_scorer(las, X_test_transf, y_test))

# JakoÅ›Ä‡ modelu - metryka MSE

In [33]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
las = RandomForestRegressor(n_estimators=500, max_depth = 5, max_features = 6, random_state=1, criterion = 'mse')

X = df.drop(columns = ['charges', 'Unnamed: 0', 'index'])
y = df['charges']

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1,test_size=.2)

las.fit(X_train,y_train)

pred = las.predict(X_train)
print(f'Score na danych treningowych {las.score(X_train, y_train)}')
#print(np.abs(rmse_scorer(las, X_train, y_train)))

pred2 = las.predict(X_test)
print(f'Score na danych testowych {las.score(X_test, y_test)}')
# print(np.abs(rmse_scorer(las, X_test, y_test)))

Score na danych treningowych 0.9934138747935115
Score na danych testowych 0.9924886408212451

In [50]:
X_test

,age,bmi,children,sex_male,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest,charges_pred,DIFFcharg_predictMINUStarget
452,20,29.735,0,1,0,0,1,0,0,3076.504008,1306.972358
705,31,30.495,3,0,0,1,0,0,0,6867.181789,753.950739
989,27,20.045,3,0,1,0,1,0,0,18724.805025,2304.310475
115,58,49.060,0,1,0,0,0,1,0,14622.668052,3241.342652
1152,32,41.100,0,0,0,0,0,0,1,5305.447358,1315.606358
...,...,...,...,...,...,...,...,...,...,...,...
8,37,29.830,2,1,0,1,0,0,0,7407.028812,1000.618112
241,55,26.800,1,0,0,0,0,0,1,13005.454448,-22154.680122
1131,26,22.230,0,0,0,0,1,0,0,3587.955105,411.667405
490,61,25.080,0,0,0,0,0,1,0,12938.081611,-11575.009649
653,26,42.400,1,0,0,0,0,0,1,5217.938418,1807.614418

In [51]:
y_test

452      1769.53165
705      6113.23105
989     16420.49455
115     11381.32540
1152     3989.84100
           ...
8        6406.41070
241     35160.13457
1131     3176.28770
490     24513.09126
653      3410.32400
Name: charges, Length: 266, dtype: float64

In [38]:
df.drop(columns = ['charges', 'Unnamed: 0', 'index'])
df.drop(columns = ['charges_pred', 'DIFFcharg_predictMINUStarget'])

,Unnamed: 0,index,age,bmi,children,charges,sex_male,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,0,0,19,27.900,0,16884.92400,0,1,0,0,0,1
1,1,1,18,33.770,1,1725.55230,1,0,0,0,1,0
2,2,2,28,33.000,3,4449.46200,1,0,0,0,1,0
3,3,3,33,22.705,0,21984.47061,1,0,0,1,0,0
4,4,4,32,28.880,0,3866.85520,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1323,1333,1333,50,30.970,3,10600.54830,1,0,0,1,0,0
1324,1334,1334,18,31.920,0,2205.98080,0,0,1,0,0,0
1325,1335,1335,18,36.850,0,1629.83350,0,0,0,0,1,0
1326,1336,1336,21,25.800,0,2007.94500,0,0,0,0,0,1
1327,1337,1337,61,29.070,0,29141.36030,0,1,0,1,0,0

In [39]:
las.predict(df.drop(columns = ['charges', 'Unnamed: 0', 'index']))

array([17034.12080201,  3021.63851586,  4247.72130267, ...,
        2626.93772682,  2640.0791937 , 27918.71445661])

In [40]:
df['charges_pred'] = las.predict(df.drop(columns = ['charges', 'Unnamed: 0', 'index']))
df

,Unnamed: 0,index,age,bmi,children,charges,sex_male,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest,charges_pred,DIFFcharg_predictMINUStarget
0,0,0,19,27.900,0,16884.92400,0,1,0,0,0,1,17034.120802,4064.758441
1,1,1,18,33.770,1,1725.55230,1,0,0,0,1,0,3021.638516,3419.474051
2,2,2,28,33.000,3,4449.46200,1,0,0,0,1,0,4247.721303,1888.319294
3,3,3,33,22.705,0,21984.47061,1,0,0,1,0,0,22038.682931,-16852.194106
4,4,4,32,28.880,0,3866.85520,1,0,0,1,0,0,3958.105772,1092.098856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1323,1333,1333,50,30.970,3,10600.54830,1,0,0,1,0,0,10094.687507,243.619221
1324,1334,1334,18,31.920,0,2205.98080,0,0,1,0,0,0,2621.986981,674.904059
1325,1335,1335,18,36.850,0,1629.83350,0,0,0,0,1,0,2626.937727,2195.577187
1326,1336,1336,21,25.800,0,2007.94500,0,0,0,0,0,1,2640.079194,650.143119
1327,1337,1337,61,29.070,0,29141.36030,0,1,0,1,0,0,27918.714457,-52.616649

In [41]:
df['DIFFcharg_predictMINUStarget'] = df['charges_pred'] - df['charges']

In [42]:
print(df[df['DIFFcharg_predictMINUStarget'] > 0].count())
print(df[df['DIFFcharg_predictMINUStarget'] < 0].count())

Unnamed: 0                      747
index                           747
age                             747
bmi                             747
children                        747
charges                         747
sex_male                        747
smoker_yes                      747
region_northeast                747
region_northwest                747
region_southeast                747
region_southwest                747
charges_pred                    747
DIFFcharg_predictMINUStarget    747
dtype: int64
Unnamed: 0                      581
index                           581
age                             581
bmi                             581
children                        581
charges                         581
sex_male                        581
smoker_yes                      581
region_northeast                581
region_northwest                581
region_southeast                581
region_southwest                581
charges_pred                    581
DIFFcharg_predictMINUStarget    581
dtype: int64

In [43]:
print(df[df['DIFFcharg_predictMINUStarget'] > 0].mean())
print(df[df['DIFFcharg_predictMINUStarget'] < 0].mean())
print(df.mean())

Unnamed: 0                        665.269076
index                             665.269076
age                                35.113788
bmi                                30.601506
children                            0.674699
charges                         10836.277775
sex_male                            0.575636
smoker_yes                          0.186078
region_northeast                    0.206158
region_northwest                    0.218206
region_southeast                    0.314592
region_southwest                    0.261044
charges_pred                    11435.776080
DIFFcharg_predictMINUStarget      599.498305
dtype: float64
Unnamed: 0                        668.910499
index                             668.910499
age                                44.514630
bmi                                30.563046
children                            1.641997
charges                         15850.509486
sex_male                            0.411360
smoker_yes                          0.218589
region_northeast                    0.290878
region_northwest                    0.275387
region_southeast                    0.213425
region_southwest                    0.220310
charges_pred                    15120.762622
DIFFcharg_predictMINUStarget     -729.746864
dtype: float64
Unnamed: 0                        666.862199
index                             666.862199
age                                39.226657
bmi                                30.584680
children                            1.097892
charges                         13030.004149
sex_male                            0.503765
smoker_yes                          0.200301
region_northeast                    0.243223
region_northwest                    0.243223
region_southeast                    0.270331
region_southwest                    0.243223
charges_pred                    13047.957692
DIFFcharg_predictMINUStarget       17.953543
dtype: float64

In [49]:
print(df['DIFFcharg_predictMINUStarget'].mean()/df['charges'].mean()*100)

0.13778616817276987

# Na danych testowych

In [ ]:
df_test = X_test.merge(y_test, how='inner', left_index=True, right_index=True)
df_test

In [ ]:
df_test.drop(columns = ['charges', 'Unnamed: 0', 'index'])
df_test.drop(columns = ['charges_pred', 'DIFFcharg_predictMINUStarget'])

In [57]:
df_test = X_test.merge(y_test, how='inner', left_index=True, right_index=True)
df_test

,age,bmi,children,sex_male,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest,charges_pred,DIFFcharg_predictMINUStarget,charges
452,20,29.735,0,1,0,0,1,0,0,3076.504008,1306.972358,1769.53165
705,31,30.495,3,0,0,1,0,0,0,6867.181789,753.950739,6113.23105
989,27,20.045,3,0,1,0,1,0,0,18724.805025,2304.310475,16420.49455
115,58,49.060,0,1,0,0,0,1,0,14622.668052,3241.342652,11381.32540
1152,32,41.100,0,0,0,0,0,0,1,5305.447358,1315.606358,3989.84100
...,...,...,...,...,...,...,...,...,...,...,...,...
8,37,29.830,2,1,0,1,0,0,0,7407.028812,1000.618112,6406.41070
241,55,26.800,1,0,0,0,0,0,1,13005.454448,-22154.680122,35160.13457
1131,26,22.230,0,0,0,0,1,0,0,3587.955105,411.667405,3176.28770
490,61,25.080,0,0,0,0,0,1,0,12938.081611,-11575.009649,24513.09126
653,26,42.400,1,0,0,0,0,0,1,5217.938418,1807.614418,3410.32400

In [58]:
df_test['charges_pred'] = las.predict(df_test.drop(columns = ['charges']))

In [60]:
df_test['DIFFcharg_predictMINUStarget'] = df_test['charges_pred'] - df_test['charges']

In [62]:
print(df_test[df_test['DIFFcharg_predictMINUStarget'] > 0].count())
print(df_test[df_test['DIFFcharg_predictMINUStarget'] < 0].count())

age                             163
bmi                             163
children                        163
sex_male                        163
smoker_yes                      163
region_northeast                163
region_northwest                163
region_southeast                163
region_southwest                163
charges_pred                    163
DIFFcharg_predictMINUStarget    163
charges                         163
dtype: int64
age                             103
bmi                             103
children                        103
sex_male                        103
smoker_yes                      103
region_northeast                103
region_northwest                103
region_southeast                103
region_southwest                103
charges_pred                    103
DIFFcharg_predictMINUStarget    103
charges                         103
dtype: int64

In [63]:
print(df_test[df_test['DIFFcharg_predictMINUStarget'] > 0].mean())
print(df_test[df_test['DIFFcharg_predictMINUStarget'] < 0].mean())
print(df_test.mean())

age                                36.257669
bmi                                31.145521
children                            0.687117
sex_male                            0.564417
smoker_yes                          0.153374
region_northeast                    0.159509
region_northwest                    0.202454
region_southeast                    0.343558
region_southwest                    0.294479
charges_pred                    11673.372319
DIFFcharg_predictMINUStarget      655.489327
charges                         11017.882992
dtype: float64
age                                45.038835
bmi                                31.329854
children                            1.689320
sex_male                            0.427184
smoker_yes                          0.271845
region_northeast                    0.223301
region_northwest                    0.281553
region_southeast                    0.233010
region_southwest                    0.262136
charges_pred                    16408.368255
DIFFcharg_predictMINUStarget     -754.770748
charges                         17163.139004
dtype: float64
age                                39.657895
bmi                                31.216898
children                            1.075188
sex_male                            0.511278
smoker_yes                          0.199248
region_northeast                    0.184211
region_northwest                    0.233083
region_southeast                    0.300752
region_southwest                    0.281955
charges_pred                    13506.848189
DIFFcharg_predictMINUStarget      109.411178
charges                         13397.437011
dtype: float64

# Procentowe niedopasowanie na danych testowych

In [64]:
print(df_test['DIFFcharg_predictMINUStarget'].mean()/df_test['charges'].mean()*100)

0.8166575264591814